@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
margin: 0;
padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Merriweather",sans-serif;
}
p{
    font-family: 'Fredoka',sans-serif;
}
img{
    max-width: 100%;
}

.container{
  
    max-width: 1200px;
    margin: auto;
}

.banner{
  text-align: center;
  color: white;
  margin-top: 50px;
}
.banner .container{
    background:linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.507)), url(resources/Banner\ Image.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    border-radius: 15px;
    
}
.banner .container h2{
    padding-top: 150px;
    font-size: 40px;
}

.banner .container h1{
    font-size: 67px;
    margin-top: 20px;
}

.offer{
    text-align: center;
    padding: 70px 0;
}
.offer h1{
    font-size: 60px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

.offer p{
    font-size: 30px;
}
 
.offer h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.welcome .container{
    background:linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.555)), url(resources/Vectorrr.png) center;
    color: white;
   padding-left: 50px;
    height: 500px;
    border-radius: 15px;

}

.welcome h1{
    font-size: 60px;
    padding-top: 100px ;
}

.welcome p{
    font-size: 25px;
    width: 600px;
    margin: 30px 0;
}
.welcome a{
color: white;
 text-decoration: none;
font-size: 24px;}

.place{
    text-align: center;
    padding: 60px 0;
    font-size: 20px;
    line-height: 70px;
}
.place span{
    color: red;
}
.place a{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    background-color: red;
    padding: 0px 30px;
    border-radius: 10px;
    color: white;
}
.place .container{
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.432) , white);
    border-radius: 15px;
    padding: 50px 0;
}
.coming .container{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.coming .item{
    flex: 1;


}
.coming h1{
    margin: 20px 0;
}

.coming .item img:first-child{
    border: 10px solid red;
    padding : 20px;
    border-radius: 50%;
}

.coming .item:last-child{
    padding-left: 50px;
}